{% load shuffle %}
<!DOCTYPE html>
<html lang="en">
{% include "meta_header_template.html" %}
<body>
<!-- this root div exists to handle footer problems -->
<div id="root">
    {% include "main_header.html" %}
    {% include "nav.html" %}

    <!-- main content -->
    <div class="main-content">
        <div class="container">
            <div class="columns is-mobile">
                <!-- posts -->
                <div class="column is-8">

                    {% for article in articles %}
                        <!-- post -->
                        <div class="section">
                            <div class="post">
                                <div class="post-header">
                                    <h4 class="title is-4"><a href="/post/{{ article.id }}">{{ article.title }}</a></h4>
                                    <h5 class="subtitle is-5">{{ article.description }}</h5>
                                </div>
                                <div class="post-content">
                                    <p>{{ article.md_text|truncatechars:256 }}</p>

                                </div>
                            </div>
                        </div>
                        <!-- end of post -->
                    {% endfor %}
                    {% if articles|length > 3 %}
                        <!-- pagination -->
                        <div class="section">
                            <div class="pagination-content has-text-right is-hidden-mobile">
                                <a class="pagination-previous" disabled>Previous</a>
                                <a class="pagination-next">Next</a>
                            </div>
                            <div class="pagination-content is-hidden-desktop is-hidden-tablet">
                                <div class="pagination">
                                    <a class="pagination-previous" disabled>Previous</a>
                                    <a class="pagination-next">Next</a>
                                </div>
                            </div>
                        </div>
                        <!-- end of pagination -->
                    {% endif %}
                </div>
                <!-- side bar -->
                <div class="column is-4 is-narrow">
                    <!-- featured -->
                    <div class="section">
                        <div class="sidebar">
                            <div class="sidebar-header">
                                <h4 class="title is-4">Featured Posts</h4>
                            </div>
                            <div class="sidebar-list">
                                {% for post in articles|shuffle %}
                                    <p><a href="/post/{{ post.id }}">{{ post.title }}</a></p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- end of featured -->
                    <!-- categories -->
                    <div class="section">
                        <div class="sidebar">
                            <div class="sidebar-header">
                                <h4 class="title is-4">Categories</h4>
                            </div>
                            <div class="sidebar-list">
                                <p><a href="category.html">Some Category</a></p>
                                <p><a href="category.html">Some Category</a></p>
                                <p><a href="category.html">Some Category</a></p>
                                <p><a href="category.html">Some Category</a></p>
                                <p><a href="category.html">Some Category</a></p>
                                <p><a href="category.html">Some Category</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- end of categories -->
                </div>
                <!-- end of side bar -->
            </div>
        </div>
    </div>
    <!-- end of main content -->
</div>
<!-- end of root div -->

{% include "footer.html" %}
</body>
</html>
