<!-- main header (text and image hero) -->
<div class="main-header">
    <section class="hero is-medium">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-mobile is-centered">
                    <div class="column is-7 has-text-centered">
                        <div class="buffer">
                            <h3 class="title is-3">A blog, probably</h3>
                        </div>
                        <div class="buffer">
                            <h4 class="subtitle is-4">I mean, it can be</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end main header -->
