{% load parse_md %}
<!DOCTYPE html>
<html lang="en">
{% include "meta_header_template.html" %}
<body>
<!-- this root div exists to handle footer problems -->
<div id="root">
    {% include "main_header.html" %}
    {% include "nav.html" %}

    <!-- main content -->
    <div class="main-content">
        <div class="container">
            <div class="columns is-mobile">
                <!-- side bar -->
                <div class="column is-4 is-narrow">
                    <div class="section">
                        <div class="sidebar">
                            <!-- side bar header-->
                            <div class="sidebar-header-single">
                                <h4 class="title is-4">{{ article.title }}</h4>
                                <h5 class="subtitle is-5">{{ article.description }}</h5>
                            </div>
                            <!-- end of side bar header -->
                            <!-- side bar content -->
                            <div class="sidebar-list-single">
                                <p>Posted on {{ article.posted_on|date }}</p>
                                <p>Written by {{ article.author }}</p>
                            </div>
                            <!-- end of side bar content -->
                            <!-- side bar footer -->
                            <div class="sidebar-footer-single">
                                <p><a href="/">Back to Home</a></p>
                            </div>
                            <!-- end of side bar footer -->
                        </div>
                    </div>
                </div>
                <!-- end of side bar -->
                <!-- post -->
                <div class="column is-8">
                    <div class="section">
                        <div class="post-single">
                            <div class="post-single-content">
                                {{ article.md_text|md2html|safe }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of post -->
            </div>
        </div>
    </div>
    <!-- end of main content -->
</div>
<!-- end of root div -->

{% include "footer.html" %}
</body>
</html>
